<div th:fragment="collections">
    <form class="col-md-12" action="/admin/collections" method="post">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Collection Name</th>
                <th>Collection Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="collection:${collections}">
                <td th:text="${collection.id}">User id</td>
                <td th:text="${collection.name}">Username</td>
                <td th:text="${collection.description}">Email</td>
            </tr>
            </tbody>
        </table>
    </form>

    <a href="collections/add" class="btn btn-primary">Add new collection</a>
</div>

<div th:fragment="add-collection">
    <form action="/admin/collections/add" method="post" class="form" th:object="${collection}">
        <input th:field="*{name}" type="text" class="form-control">
        <input th:field="*{description}" type="text" class="form-control">
        <button class="btn btn-primary">Submit</button>
    </form>
</div>
