<table class="table" th:fragment="users-list">
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>View</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user:${users}">
        <td th:text="${user.id}">User id</td>
        <td th:text="${user.username}">Username</td>
        <td th:text="${user.email}">Email</td>
        <td><a href="" class="btn btn-primary">View Profile</a></td>
        <td><input name="ids" type="checkbox" class="form-check-input"></td>
    </tr>
    </tbody>

</table>
