<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/public/fragments::headerfiles"></head>

<body class="p-0">
<nav th:replace="fragments/public/fragments::navigation"></nav>
<div class="container">

    <div class="row">

        <div class="col-md-8">
            <div th:if="${pageName!=null}">
                <h1 class="my-4" th:text="${pageName}"></h1>
            </div>
            <div class="card mb-4" th:each="collection:${collectionsOfUser}">
                <div class="card-body">
                    <h2 class="card-title" th:text="${collection.name}">Some title</h2>
                    <p class="card-text" th:text="${collection.description}">Some description</p>
                    <a th:href="@{'/collections/'+${collection.id}}" class="btn btn-primary" th:text="#{item.readmore}">See
                        Items
                        &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
        </div>

        <div th:replace="fragments/public/fragments::sidebar"></div>
    </div>

</div>
<div th:replace="fragments/public/fragments::footer"></div>

<!-- Bootstrap core JavaScript -->
<div th:replace="fragments/dashboard/fragments::scripts"></div>
</body>

</html>
