<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/public/fragments::headerfiles"></head>

<body class="p-0">
<nav th:replace="fragments/public/fragments::navigation"></nav>
<div class="container">

    <div class="row">
        <h1 th:text="#{greeting}"></h1>
        <span th:text="#{lang.change}"></span>:
        <select id="locales">
            <option value=""></option>
            <option value="en" th:text="#{lang.eng}"></option>
            <option value="ru" th:text="#{lang.fr}"></option>
        </select>
        <div class="col-md-8">
            <h1 class="my-4">
                See last added items
            </h1>


            <!-- Blog Post -->
            <div class="card mb-4" th:each="item:${items}">
                <div class="card-body">
                    <h2 class="card-title" th:text="${item.name}">Some title</h2>
                    <p class="card-text">Some description</p>
                    <a th:href="@{'/items/'+${item.id}}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted by
                    <a th:href="@{'/users/'+${item.collection.user.id}}" th:text="${item.collection.user.username}">User
                        name</a>
                </div>
            </div>
        </div>

        <div th:replace="fragments/public/fragments::sidebar"></div>
    </div>

</div>
<div th:replace="fragments/public/fragments::footer"></div>

<!-- Bootstrap core JavaScript -->
<div th:replace="fragments/dashboard/fragments::scripts"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != '') {
                window.location.replace('/?lang=' + selectedOption);
            }
        });
    });
</script>

</body>

</html>
