<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/public/fragments::headerfiles"></head>

<body class="p-0">
<nav th:replace="fragments/public/fragments::navigation"></nav>
<div class="container">

    <div class="row">

        <div class="col-md-8">
            <h1 class="my-4">
                See last added items
            </h1>

            <div class="card mb-4" th:each="item:${items}">
                <div class="card-body">
                    <h2 class="card-title" th:text="${item.name}">Some title</h2>
                    <p class="card-text">Some description</p>
                    <a th:href="@{'/items/'+${item.id}}" class="btn btn-primary" th:text="#{item.readmore}">Read More
                        &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    <p th:text="#{item.postedby}">Posted by</p>
                    <a th:href="@{'/users/'+${item.collection.user.id}}" th:text="${item.collection.user.username}">User
                        name</a>
                </div>
            </div>
        </div>

        <div th:replace="fragments/public/fragments::sidebar"></div>
    </div>

</div>
<div th:replace="fragments/public/fragments::footer"></div>

<!-- Bootstrap core JavaScript -->
<div th:replace="fragments/dashboard/fragments::scripts"></div>
</body>

</html>
