<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments::headerfiles"></head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <div th:replace="fragments/admin-sidebar.html :: sidebar"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <nav th:replace="fragments/admin-topbar.html :: topbar"></nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Add Collection</h1>
                </div>

                <!-- Content Row -->

                <div class="row">
                    <form action="/dashboard/collections/add" method="post" class="form col-md-6"
                          th:object="${collection}">
                        <div class="row">
                            <div class="col-md-6">
                                <input th:field="*{name}" type="text" class="form-control"
                                       placeholder="Enter name for collection">
                            </div>
                            <div class="col-md-6">
                                <input th:field="*{description}" type="text" class="form-control"
                                       placeholder="Enter description for collection">
                            </div>
                        </div>

                        <div id="newAttributesSection">

                        </div>
                        <div class="row">
                            <p class="mt-2 mb-0 col-12 text-center">Do you want to add custom attribute for items in
                                collection?</p>
                            <button class="btn btn-outline-primary mt-1" type="button" onclick="addNewAttribute()">Add
                                Attribute
                            </button>
                        </div>
                        <button class="btn btn-primary mt-2">Add Collection</button>
                    </form>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <div th:replace="fragments/fragments::scripts"></div>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


<script id="newAttributeTemplate" type="text/x-handlebars-template">
    <div class="row mt-2 mb-2">
        <div class="col-md-6">
            <input type="text" name="attribute_name_{{index}}" class="form-control"
                   placeholder="Enter name of attribute">
        </div>
        <div class="col-md-4">
            <select class="form-select form-control" name="attribute_type_{{index}}">
                <option value="string">String</option>
                <option value="text">Text</option>
                <option value="int">Integer</option>
                <option value="date">Date</option>
                <option value="boolean">Boolean</option>
            </select>
        </div>
    </div>
</script>

<div th:replace="fragments/fragments::scripts"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
</body>

</html>