<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments::headerfiles"></head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <div th:replace="fragments/admin-sidebar.html :: sidebar"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <nav th:replace="fragments/admin-topbar.html :: topbar"></nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </div>

                <!-- Content Row -->

                <div class="row">
                    <form action="/admin/collections/add" method="post" class="form col-md-6" th:object="${collection}">
                        <div class="row">
                            <div class="col-md-6">
                                <input th:field="*{name}" type="text" class="form-control"
                                       placeholder="Enter name for collection">
                            </div>
                            <div class="col-md-6">
                                <input th:field="*{description}" type="text" class="form-control"
                                       placeholder="Enter description for collection">
                            </div>
                        </div>
                        <div id="newAttributesSection">

                        </div>
                        <button class="btn btn-outline-primary" type="button" onclick="addNewAttribute()">Add new
                            attribute
                        </button>

                        <button class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Bekzod Keldiyarov</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<script id="newAttributeTemplate" type="text/x-handlebars-template">
    <div class="row mt-2 mb-2">
        <div class="col-md-6">
            <input type="text" name="attribute_name_{{index}}" class="form-control"
                   placeholder="Enter name of attribute">
        </div>
        <div class="col-md-4">
            <select class="form-select" name="attribute_type_{{index}}">
                <option value="string">String</option>
                <option value="text">Text</option>
                <option value="int">Integer</option>
                <option value="date">Date</option>
                <option value="boolean">Boolean</option>
            </select>
        </div>
    </div>
</script>

<div th:replace="fragments/fragments::scripts"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
</body>

</html>