<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/dashboard/fragments::headerfiles"></head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <div th:replace="fragments/dashboard/admin-sidebar.html :: sidebar"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <nav th:replace="fragments/dashboard/admin-topbar.html :: topbar"></nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">My Collections</h1>
                </div>
                <a href="/dashboard/collections/add" class="btn btn-primary">Add new collection</a>
                <div class="row mt-2">
                    <table class="table" id="collection-tables">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Collection Name</th>
                            <th>Collection Description</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">User</th>
                            <th>View</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="collection:${collections}">
                            <td th:text="${collection.id}">User id</td>
                            <td th:text="${collection.name}">Username</td>
                            <td th:text="${collection.description}">Email</td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:href="@{'/dashboard/users/'+${collection.user.id}}"
                                   th:text="${collection.user.username}"></a></td>
                            <td><a th:href="@{/dashboard/collections/{id}(id=${collection.id})}"
                                   class="btn btn-outline-primary">View</a></td>
                            <td><a th:href="@{'/dashboard/collections/'+${collection.id}+'/edit'}"
                                   class="btn btn-primary">Edit</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


        <div th:replace="fragments/dashboard/fragments::footer"></div>
    </div>
    <!-- End of Content Wrapper -->

</div>


<div th:replace="fragments/dashboard/fragments::scripts"></div>
</body>

</html>