<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments::headerfiles"></head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <div th:replace="fragments/admin-sidebar.html :: sidebar"></div>
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <nav th:replace="fragments/admin-topbar.html :: topbar"></nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800" th:text="${pageName}">Adding Item</h1>
                </div>

                <!-- Content Row -->

                <div class="row">
                    <form th:action="@{/dashboard/collections/{id}/items/add(id=${item.collection.id})}" method="post"
                          class="form col-md-6" th:object="${item}">
                        <input th:field="*{id}" type="hidden" class="form-control">
                        <div class="row">
                            <div class="col-md-6">
                                <input th:field="*{name}" type="text" class="form-control"
                                       placeholder="Enter name of item">
                            </div>
                            <div class="col-md-6">
                                <input th:field="*{collection}" type="text" class="form-control"
                                       th:value="${collection}" readonly>
                            </div>
                            <div class="col-md-6 mt-4">
                                <label>Tags</label>
                                <select name="selectedTags" id="" multiple multiselect-search="true">
                                    <div th:each="tag:${tags}">
                                        <option th:selected="${#lists.contains(item.tags, tag)}"
                                                th:value="${tag.name}"
                                                th:text="${tag.name}">One
                                        </option>
                                    </div>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div th:each="itemAttributeValue, itemStat: *{itemAttributeValues}"
                                 class="col-md-7">

                                <div class="mt-2" th:switch="${itemAttributeValue.attribute.type}">
                                    <label class="mb-0"
                                           th:text="${itemAttributeValue.attribute.attributeName}"></label>
                                    <input th:case="${'string'}"
                                           th:field="*{itemAttributeValues[__${itemStat.index}__].value}"
                                           type="text"
                                           class="form-control">
                                    <input th:case="${'date'}"
                                           th:field="*{itemAttributeValues[__${itemStat.index}__].value}"
                                           type="date"
                                           class="form-control">
                                    <input th:field="*{itemAttributeValues[__${itemStat.index}__].item}"
                                           type="hidden"
                                           class="form-control">
                                    <input th:field="*{itemAttributeValues[__${itemStat.index}__].attribute}"
                                           type="hidden"
                                           class="form-control">
                                    <input th:field="*{itemAttributeValues[__${itemStat.index}__].id}"
                                           type="hidden"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary mt-3">Submit</button>
                    </form>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <div th:replace="fragments/fragments::scripts"></div>
    </div>

</div>
<!-- End of Page Wrapper -->

<div th:replace="fragments/fragments::scripts"></div>
</body>

</html>