<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments::headerfiles"></head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <div th:replace="fragments/admin-sidebar.html :: sidebar"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <nav th:replace="fragments/admin-topbar.html :: topbar"></nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800" th:text="${pageName}">Dashboard</h1>
                </div>


                <div class="row">
                    <form class="col-md-12" action="/dashboard/collections" method="post">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Item Name</th>
                                <th>Collection Name</th>
                                <th>Tags</th>
                                <th>View</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item:${items}">
                                <td th:text="${item.id}"></td>
                                <td th:text="${item.name}"></td>
                                <td th:text="${item.collection.name}">Email</td>
                                <td>
                                    <a th:href="@{'/dashboard/items/tags/'+${tag.id}}" class="badge badge-secondary mr-1"
                                       th:each="tag:${item.tags}"
                                       th:text="${tag.name}"></a>
                                </td>
                                <td>
                                    <a th:href="@{'/dashboard/collections/'+${item.collection.id}+'/items/'+${item.id}+'/edit'}"
                                       class="btn btn-primary">Edit</a>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Bekzod Keldiyarov</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div th:replace="fragments/fragments::scripts"></div>
</body>

</html>